@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-midnight: #030e1f;
  --color-primary: #10449c;
  --color-secondary: #1969f1;
  --color-white-smoke: #ebebeb;

  /* Configuração das fontes */
  --font-heading: 'Poppins', system-ui, sans-serif;
  --font-body: 'Inter', system-ui, sans-serif;
}

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ebebeb;
  background-color: #030e1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos para títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

/* Estilos para textarea e inputs */
textarea,
input {
  font-family: var(--font-body);
}
